{{#if @root.data.accountInfo.local_authority ~}}
{{#with (getProperty @root.context.metaData.tsiList (slugify @root.data.accountInfo.local_authority)) ~}}
{{#each contacts ~}}
{{#if (regexMatch @root.data.accountInfo.postcode pattern "gi") ~}}
  <div class="columns">
    <div class="column col-12">
      <p class="no-margin">
        {{#if @root.data.isAdmin ~}}
        For support administrating group volunteering,
        {{else}}
        For information on how to get involved,
        {{/if ~}}
        please contact <strong>{{title}}</strong> who are responsible for the {{@root.context.metaData.title}} {{#if island}}on{{else}}in{{/if}} {{#if area}}{{area}}{{else}}{{../local_authority}}{{/if}}.
      </p>
    </div>
    <div class="column {{#ifAll logo website}}col-10{{else}}col-12{{/ifAll}}">
      <p>
        {{#if phone}}Phone: {{phone}}<br />{{/if}}
        {{#if email}}Email: <a href="mailto:{{email}}">{{email}}</a><br />{{/if}}
        {{#if website}}Website: <a href="{{fixUrl website}}" target="_blank">{{replace (replace (replace website "www." "") "https://" "") "http://" ""}}</a>{{/if}}
      </p>
      <p>
        {{#if twitter}}<a href="{{fixUrl twitter}}" target="_blank"><span class="fab fa-twitter fa-fw fa-2x"></span></a>{{/if}}
        {{#if facebook}}<a href="{{fixUrl facebook}}" target="_blank"><span class="fab fa-facebook fa-fw fa-2x"></span></a>{{/if}}
        {{#if youtube}}<a href="{{fixUrl youtube}}" target="_blank"><span class="fab fa-youtube fa-fw fa-2x"></span></a>{{/if}}
        {{#if instagram}}<a href="{{fixUrl instagram}}" target="_blank"><span class="fab fa-instagram fa-fw fa-2x"></span></a>{{/if}}
      </p>
    </div>
    {{!-- {{#ifAll logo website ~}}
    <div class="column col-2">
      <a href="{{fixUrl website}}" target="_blank"><img src="{{logo}}" class="img-responsive" alt="{{title}}" /></a>
    </div>
    {{/ifAll ~}} --}}
  </div>
{{/if ~}}
{{/each ~}}
{{/with ~}}
{{else}}
Local contact information could not be determined for your postcode {{@root.data.accountInfo.postcode}}. Please see the <a href="/contact">contact us</a> page for all areas.
{{/if ~}}