<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--

  Powered by:
      ███████╗ ██████╗██╗   ██╗ ██████╗  ██╗   ██████╗  ██████╗ ██╗   ██╗████████╗███████╗██████╗
     ██╔════╝██╔════╝██║   ██║██╔═══██╗ ╚██╗  ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔════╝██╔══██╗
    ███████╗██║     ██║   ██║██║   ██║  ╚██╗ ██████╔╝██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
   ╚════██║██║     ╚██╗ ██╔╝██║   ██║  ██╔╝ ██╔══██╗██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
  ███████║╚██████╗ ╚████╔╝ ╚██████╔╝ ██╔╝  ██║  ██║╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
  ╚══════╝ ╚═════╝  ╚═══╝   ╚═════╝ ╚═╝   ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

  -->

  <link rel="shortcut icon" href="{{~>asset_url url='images/icons/favicon.ico'~}}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{~>asset_url url='images/icons/apple-icon-57x57.png'~}}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{~>asset_url url='images/icons/apple-icon-60x60.png'~}}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{~>asset_url url='images/icons/apple-icon-72x72.png'~}}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{~>asset_url url='images/icons/apple-icon-76x76.png'~}}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{~>asset_url url='images/icons/apple-icon-114x114.png'~}}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{~>asset_url url='images/icons/apple-icon-120x120.png'~}}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{~>asset_url url='images/icons/apple-icon-144x144.png'~}}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{~>asset_url url='images/icons/apple-icon-152x152.png'~}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{~>asset_url url='images/icons/apple-icon-180x180.png'~}}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{~>asset_url url='images/icons/android-icon-192x192.png'~}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{~>asset_url url='images/icons/favicon-32x32.png'~}}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{~>asset_url url='images/icons/favicon-96x96.png'~}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{~>asset_url url='images/icons/favicon-16x16.png'~}}">
  <link rel="manifest" href="{{~>asset_url url='images/icons/manifest.json'~}}">
  <meta name="msapplication-TileColor" content="{{@root.context.metaData.theme.secondary}}">
  <meta name="msapplication-TileImage" content="{{~>asset_url url='images/icons/ms-icon-144x144.png'~}}">
  <meta name="theme-color" content="{{@root.context.metaData.theme.secondary}}">
  <link rel="search" type="application/opensearchdescription+xml" title="{{@root.context.metaData.title}}" href="{{~>asset_url url='opensearch.xml'~}}" />

  <script>
  window.dataLayer = window.dataLayer || [];

  {{#ifAny request.params.query.debug (contains request.url.hostname ".local") ~}}
    console.log('#### DEBUG MODE ON ####');
    console.log('Request:', {{{regexReplace (regexReplace (stringify request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    console.log('Route:', {{{regexReplace (regexReplace (stringify route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    console.log('Context:', {{{regexReplace (regexReplace (stringify context) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    console.log('Data:', {{{regexReplace (regexReplace (stringify data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    console.log('Menus:', {{{regexReplace (regexReplace (stringify @root.context.metaData.menus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    {{#if errors.[0]}}
      console.error('Task Errors:', {{{regexReplace (regexReplace (stringify errors) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    {{/if}}
  {{/ifAny ~}}
  </script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/leaflet/leaflet.css'~}}" />
  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/fontawesome-pro/css/all.min.css'~}}" />
  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='main.css'}}" />
</head>
<body>
  <site>
    <div class="page">
    {{#ifAny request.params.query.debug (contains request.url.hostname ".local") ~}}
      {{#if errors.[0]}}
        <div style="z-index:100;position:fixed;top:0;right:0;padding:5px;background-color:#ff0000;color:#ffffff;">
          Route Task Errors (F12)
        </div>
        {{/if}}
        {{#if logs.[0]}}
        <div style="z-index:100;position:fixed;bottom:0;right:0;padding:5px;background-color:#0000ff;color:#ffffff;" onclick="document.querySelector('#route-debug-log').style.display='block';">
          Route Log
        </div>
        <div style="z-index:100;position:fixed;bottom:0;left:0;right:0;padding:5px;background-color:#ededed;color:#000000;overflow:auto;height:50vh;display:none;border-top:1px solid #cccccc;" id="route-debug-log">
          <a style="position:fixed;right:25px;" onclick="document.querySelector('#route-debug-log').style.display='none';">x</a>
<pre style="white-space: pre-wrap;">
{{~#each logs}}
{{{this}}}

{{/each~}}
</pre>
        </div>
      {{/if}}
    {{/ifAny}}

      <header class="container">
        <section class="brand">
          <a href="/" class="logo"><img src="{{~>asset_url url='images/logos/unhscotland.webp'~}}" alt="{{@root.context.metaData.title}}" /></a>
        </section>
        <section class="nav">
          <a href="#" class="btn btn-link show-lg" aria-label="Menu" data-component="TasksTrigger" data-TasksTrigger='{
              click: {
                tasks: [
                  {
                    type: "elementManipulator",
                    config: {
                      ".mobile-menu": {
                        "removeClass": "mobile-menu_closed mobile-menu_closing",
                        "addClass": "mobile-menu_open"
                      }
                    }
                  }
                ]
              }
            }'>
            <span class="fas fa-bars" aria-hidden="true"></span>
          </a>
          <span class="hide-sm">
            {{#if @root.data.auth ~}}
              {{#if @root.data.accountInfo.user_type ~}}
                {{#each @root.context.metaData.menus.main-signed-in ~}}
                  <a href="{{stripTrailingSlash path}}" class="btn btn-link{{#if (regexMatch @root.request.url.pathname route 'gi')}} btn-active{{/if}}">{{label}}</a>
                {{/each}}
                <div class="dropdown my-account">
                  <div class="btn-group">
                    <a href="#" class="btn dropdown-toggle">
                      {{#if @root.data.auth.photoURL ~}}
                        <img src="{{@root.data.auth.photoURL}}" class="avatar avatar-sm" />
                      {{else}}
                        <span class="far fa-fw fa-user-circle"></span>
                      {{/if ~}}
                      {{@root.data.auth.email}}
                      <span class="far fa-fw fa-angle-down"></span>
                    </a>
                    <ul class="menu">
                      <li class="menu-item">
                        <a href="/" class="l-padding-full {{#compare @root.request.url.pathname '/'}} active{{/compare}}{{#if @root.data.accountInfo.verification_needed}} disabled{{/if}}">
                          <span class="far fa-fw fa-home" aria-hidden="true"></span>
                          Home
                        </a>
                      </li>
                      {{#each @root.context.metaData.menus.user-signed-in ~}}
                        {{#if (contains user-types @root.data.accountInfo.user_type) ~}}
                          <li class="menu-item">
                            <a href="{{stripTrailingSlash path}}" class="l-padding-full {{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                              {{#if icon ~}}
                              <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                              {{/if ~}}
                              {{{label}}}
                            </a>
                          </li>
                        {{/if ~}}
                      {{/each ~}}
                      <li class="menu-item">
                        <a href="/sign-out" class="l-padding-full" data-component="TasksTrigger" data-TasksTrigger="sign-out">
                          <span class="far fa-fw fa-sign-out-alt" aria-hidden="true"></span>
                          Sign out
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              {{else}}
                <a href="/" class="btn btn-link{{#if (regexMatch @root.request.url.pathname '^/$' 'gi')}} btn-active{{/if}}">Home</a>
                {{#each @root.context.metaData.menus.main-not-signed-in ~}}
                  <a href="{{stripTrailingSlash path}}" class="btn btn-link{{#if (regexMatch @root.request.url.pathname route 'gi')}} btn-active{{/if}}">{{label}}</a>
                {{/each}}
                <a href="/sign-out" class="btn btn-link" data-component="TasksTrigger" data-TasksTrigger="sign-out">Sign out</a>
              {{/if ~}}
            {{else}}
              <a href="/" class="btn btn-link{{#if (regexMatch @root.request.url.pathname '^/$' 'gi')}} btn-active{{/if}}">Home</a>
              {{#each @root.context.metaData.menus.main-not-signed-in ~}}
                <a href="{{stripTrailingSlash path}}" class="btn btn-link{{#if (regexMatch @root.request.url.pathname route 'gi')}} btn-active{{/if}}">{{label}}</a>
              {{/each}}
              {{#each @root.context.metaData.menus.user-not-signed-in ~}}
                <a href="{{stripTrailingSlash path}}" class="btn btn-link{{#if (regexMatch @root.request.url.pathname route 'gi')}} btn-active{{/if}} my-account">{{label}}</a>
              {{/each}}
            {{/if ~}}
          </span>
        </section>
        <section class="page-title">
          <h1>
            {{> page_title location="body"}}
          </h1>
        </section>
      </header>

      <div class="mobile-menu mobile-menu_closed">
        <div class="mobile-menu_background" data-component="TasksTrigger" data-TasksTrigger='{
          click: {
            tasks: [
              {
                type: "elementManipulator",
                config: {
                  ".mobile-menu": {
                    removeClass: "mobile-menu_open",
                    addClass: "mobile-menu_closing"
                  }
                }
              },
              {
                type: "delay",
                config: {
                  "500": [
                    {
                      type: "elementManipulator",
                      config: {
                        ".mobile-menu": {
                          addClass: "mobile-menu_closed",
                          removeClass: "mobile-menu_closing"
                        }
                      }
                    }
                  ]
                }
              }
            ]
          }
        }'></div>
        <aside class="mobile-menu_contents sidebar">
          {{{layoutParts.sidebar}}}

          <div class="b-margin-full b-padding-full v-padding">
            <ul class="menu">
              {{#if @root.data.auth ~}}
                {{#if @root.data.accountInfo.user_type ~}}
                  {{#each @root.context.metaData.menus.main-signed-in ~}}
                    <li class="menu-item">
                      <a href="{{stripTrailingSlash path}}" class="l-padding-full {{#if (regexMatch @root.request.url.pathname route 'gi')}}active{{/if}}">{{label}}</a>
                    </li>
                  {{/each}}
                  <li class="menu-item">
                    <a href="/sign-out" class="l-padding-full" data-component="TasksTrigger" data-TasksTrigger="sign-out">
                      <span class="far fa-fw fa-sign-out-alt" aria-hidden="true"></span>
                      Sign out
                    </a>
                  </li>
                {{else}}
                  <li class="menu-item">
                    <a href="/" class="l-padding-full {{#if (regexMatch @root.request.url.pathname '^/$' 'gi')}}active{{/if}}">Home</a>
                  </li>
                  {{#each @root.context.metaData.menus.main-not-signed-in ~}}
                    <li class="menu-item">
                      <a href="{{stripTrailingSlash path}}" class="l-padding-full {{#if (regexMatch @root.request.url.pathname route 'gi')}}active{{/if}}">{{label}}</a>
                    </li>
                  {{/each}}
                  <li class="menu-item">
                    <a href="/sign-out" class="l-padding-full" data-component="TasksTrigger" data-TasksTrigger="sign-out">Sign out</a>
                  </li>
                {{/if ~}}
              {{else}}
                <li class="menu-item">
                  <a href="/" class="l-padding-full {{#if (regexMatch @root.request.url.pathname '^/$' 'gi')}}active{{/if}}">Home</a>
                </li>
                {{#each @root.context.metaData.menus.main-not-signed-in ~}}
                  <li class="menu-item">
                    <a href="{{stripTrailingSlash path}}" class="l-padding-full {{#if (regexMatch @root.request.url.pathname route 'gi')}}active{{/if}}">{{label}}</a>
                  </li>
                {{/each}}
                {{#each @root.context.metaData.menus.user-not-signed-in ~}}
                  <li class="menu-item">
                    <a href="{{stripTrailingSlash path}}" class="l-padding-full {{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}} my-saltire">{{label}}</a>
                  </li>
                {{/each}}
              {{/if ~}}
            </ul>
          </div>
        </aside>
      </div>

      {{#ifAll layoutParts.sidebar @root.data.accountInfo.user_type ~}}
      <div class="sidebar-present">
        <div class="columns col-gapless">
          <aside class="sidebar column col-2 col-lg-3 col-xl-3 hide-lg">
            {{{layoutParts.sidebar}}}
          </aside>
          <main class="body column col-10 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
            {{{layoutParts.body}}}
          </main>
        </div>
      </div>
      {{else}}
      <div class="sidebar-not-present">
        <main class="body">
          {{{layoutParts.body}}}
        </main>
      </div>
      {{/ifAll ~}}

      <div id="toaster"></div>

      <footer class="footer">
        <div class="footer-main">
          <div class="container">
            <div class="columns">
              <div class="column col-3 info">
                <h4>Help</h4>
                {{!-- <p class="b-margin">
                  {{#if @root.data.accountInfo.local_authority ~}}
                    {{#with (getProperty @root.context.metaData.tsiList (slugify @root.data.accountInfo.local_authority)) ~}}
                      {{#each contacts ~}}
                        {{#if (regexMatch @root.data.accountInfo.postcode pattern "gi") ~}}
                          <a href="{{fixUrl website}}" target="_blank">{{title}}</a>
                        {{/if ~}}
                      {{/each ~}}
                    {{/with ~}}
                  {{else}}
                    The local Third Sector Interface in your area
                  {{/if ~}}
                  manages your personal data in relation to the {{@root.context.metaData.title}}.
                </p>
                <ul>
                  <li>
                    <a href="/privacy">Privacy notice</a>
                  </li>
                  <li>
                    <a href="/terms">Terms &amp; conditions</a>
                  </li>
                  <li>
                    <a href="/cookies">Cookie policy</a>
                  </li>
                </ul> --}}
              </div>
              <div class="column col-3 contact">
                <h4>&nbsp;</h4>
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li"><span class="fas fa-envelope"></span></span>
                    {{#if @root.data.accountInfo.local_authority ~}}
                      {{#with (getProperty @root.context.metaData.tsiList (slugify @root.data.accountInfo.local_authority)) ~}}
                        {{#each contacts ~}}
                          {{#if (regexMatch @root.data.accountInfo.postcode pattern "gi") ~}}
                            <a href="mailto:{{email}}">{{email}}</a>
                          {{/if ~}}
                        {{/each ~}}
                      {{/with ~}}
                    {{else}}
                      <a href="mailto:{{@root.context.metaData.contacts.admin}}">{{@root.context.metaData.contacts.admin}}</a>
                    {{/if ~}}
                  </li>
                  {{#if @root.data.accountInfo.local_authority ~}}
                    {{#with (getProperty @root.context.metaData.tsiList (slugify @root.data.accountInfo.local_authority)) ~}}
                      {{#each contacts ~}}
                        {{#if (regexMatch @root.data.accountInfo.postcode pattern "gi") ~}}
                          {{#if phone ~}}
                            <li>
                              <span class="fa-li"><span class="fas fa-phone fa-flip-horizontal"></span></span>
                              <a href="tel:+44{{replace phone ' ' ''}}">{{phone}}</a>
                            </li>
                          {{/if ~}}
                          {{#if twitter ~}}
                            <li>
                              <span class="fa-li"><span class="fab fa-twitter"></span></span>
                              <a href="{{twitter}}" target="_blank">Twitter</a>
                            </li>
                          {{/if ~}}
                          {{#if facebook ~}}
                            <li>
                              <span class="fa-li"><span class="fab fa-facebook"></span></span>
                              <a href="{{facebook}}" target="_blank">Facebook</a>
                            </li>
                          {{/if ~}}
                          {{#if youtube ~}}
                            <li>
                              <span class="fa-li"><span class="fab fa-youtube"></span></span>
                              <a href="{{youtube}}" target="_blank">YouTube</a>
                            </li>
                          {{/if ~}}
                          {{#if instagram ~}}
                            <li>
                              <span class="fa-li"><span class="fab fa-instagram"></span></span>
                              <a href="{{instagram}}" target="_blank">Instagram</a>
                            </li>
                          {{/if ~}}
                        {{/if ~}}
                      {{/each ~}}
                    {{/with ~}}
                  {{else}}
                    <li>
                      <span class="fa-li"><span class="fab fa-twitter"></span></span>
                      <a href="https://twitter.com/{{@root.context.metaData.twitter}}" target="_blank">Twitter</a>
                    </li>
                  {{/if ~}}
                </ul>
              </div>
              <div class="column col-6 about">
                <h4>About</h4>
                {{!-- <p class="b-margin">
                  {{@root.context.metaData.fullTitle}} is run by the <a href="https://scvo.scot">Scottish Council for Voluntary Organisations</a> and supported by the <a href="https://www.gov.scot/policies/third-sector">Scottish Government</a> and Scotland's <a href="https://www.gov.scot/policies/third-sector/third-sector-interfaces">Third Sector Interfaces</a>.
                </p> --}}
                <ul>
                  {{#each @root.context.metaData.menus.footer-info ~}}
                    <li>
                      <a href="{{stripTrailingSlash path}}">{{{label}}}</a>
                    </li>
                  {{/each ~}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
              {{!-- <div class="columns">
                <div class="column col-8">
                  <p>
                    &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation.<br />
                    Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
                  </p>
                </div>
                <div class="column col-4 logos">
                  <a href="https://www.gov.scot/policies/third-sector" class="brand-logo sg-logo" title="Scottish Government">
                    <img src="{{~>asset_url url='images/logos/SG_Quaternary_govscot_RGB.png'~}}" alt="Scottish Government" />
                  </a>
                  <a href="https://scvo.scot" class="brand-logo scvo-logo" title="Scottish Council for Voluntary Organisations">
                    <img src="{{~>asset_url url='images/logos/scvo.png'~}}" alt="Scottish Council for Voluntary Organisations" />
                  </a>
                </div>
              </div> --}}
            </div>
          </div>
        </div>
      </footer>
    </div>
  </site>

  <script type="text/javascript">
  var $buoop = {required:{e:-3,f:-3,o:-3,s:-1,c:-3},insecure:true,unsupported:true,api:2018.07 };
  function $buo_f(){
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
  </script>

  {{#each @root.context.metaData.handlebars.frontend.configs}}
    <script data-component-config="{{@key}}" type="javascript/blocked">
      {{{regexReplace (regexReplace this "^\s*return\s" "igm" "") "([^\\{])({{){2,}" "igm" "$1\\$2"}}}
    </script>
  {{/each}}

  {{#each @root.context.metaData.handlebars.frontend.tasks}}
    <script data-task="{{@key}}" type="javascript/blocked">
      {{{regexReplace (regexReplace this "^\s*return\s" "igm" "") "([^\\{])({{){2,}" "igm" "$1\\$2"}}}
    </script>
  {{/each}}

  {{#each @root.context.metaData.handlebars.frontend.partials}}
    <script data-partial="{{@key}}" type="javascript/blocked">
      {{{this}}}
    </script>
  {{/each}}

  <script type="text/javascript" src="{{~>asset_url url='component-manager.js'~}}"></script>
  <script>
    window.firebaseTaskConfig = {
      upgradeTokenUrl: '/upgrade-token?token={idToken}',
      cookieName: 'sa_cookie'
    };
    firebase.initializeApp({
      apiKey: "AIzaSyBtMX6Yz069sYwUinR9_zrrHnZK2WmPkXg",
      authDomain: "auth.sdgadvocate.org",
      databaseURL: "https://sdg-advocate.firebaseio.com",
      projectId: "sdg-advocate",
      storageBucket: "sdg-advocate.appspot.com",
      messagingSenderId: "113725462925",
      appId: "1:113725462925:web:b18ec5ce5afc74ce"
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#DEEFFB",
        "text": "#005EB8"
      },
      "button": {
        "background": "#005EB8"
      }
    },
    "theme": "edgeless",
    "position": "bottom-left",
    "content": {
      "message": "We use cookies to track anonymous usage statistics.",
      "href": "/cookies"
    }
  });
  </script>

  {{{layoutParts.foot}}}
</body>
</html>