<div class="container contact cards equal-height">
  <!-- <h1>
    Contact us
  </h1> -->
  <div class="columns">
    <div class="column col-6">
      <h2>
        Local enquiries
      </h2>
      {{#if @root.data.accountInfo.postcode ~}}
      {{> local_contact_info}}
      <div class="columns col-gapless">
        <div class="column col-6">
          {{> local_contact_logo}}
        </div>
      </div>
      {{else}}
      <p>
        For information on how to get involved with the {{@root.context.metaData.title}}, you're best to contact your local Third Sector Interface.
      </p>
      <p>
        Find the contact details below for the Council area you live in.
      </p>
      {{/if ~}}
    </div>
    <div class="column col-6">
      <h2>
        National enquiries
      </h2>
      <p>
        If you have a problem with the website or are a national organisation, please contact <a href="mailto:{{@root.context.metaData.contacts.admin}}">{{@root.context.metaData.contacts.admin}}</a>.
      </p>
    </div>
  </div>
  {{#unless @root.data.accountInfo.postcode ~}}
  <div class="columns">
    {{#each @root.context.metaData.tsiList ~}}
    {{#each contacts ~}}
    {{#compare @key "all" ~}}
    <div class="column col-4">
      <div class="card">
        <div class="card-header">
          {{#ifAny area ../local_authority ~}}
          <div class="card-title h5">{{#if island}}{{{../local_authority}}}{{else}}{{{default area ../local_authority}}}{{/if}}</div>
          {{/ifAny ~}}
          {{#ifAll title ~}}
          <div class="card-subtitle"><a href="{{website}}">{{{title}}}</a></div>
          {{/ifAll ~}}
        </div>
        <div class="card-body"></div>
        <!-- <div class="card-media">
          <img src="{{logo}}" class="img-responsive">
        </div> -->
        <div class="card-footer">
          {{#if email ~}}
          <a href="mailto:{{email}}" class="btn btn-primary"><span class="far fa-fw fa-at"></span></a>
          {{/if ~}}
          {{#if phone ~}}
          <a href="tel:+44{{phone}}" class="btn"><span class="fas fa-fw fa-phone fa-flip-horizontal"></span></a>
          {{/if ~}}
          {{#if facebook ~}}
          <a href="{{facebook}}" class="btn"><span class="fab fa-fw fa-facebook"></span></a>
          {{/if ~}}
          {{#if twitter ~}}
          <a href="{{twitter}}" class="btn"><span class="fab fa-fw fa-twitter"></span></a>
          {{/if ~}}
          {{#if instagram ~}}
          <a href="{{instagram}}" class="btn"><span class="fab fa-fw fa-instagram"></span></a>
          {{/if ~}}
          {{#if youtube ~}}
          <a href="{{youtube}}" class="btn"><span class="fab fa-fw fa-youtube"></span></a>
          {{/if ~}}
        </div>
      </div>
    </div>
    {{/compare ~}}
    {{/each ~}}
    {{/each ~}}
  </div>
  {{/unless ~}}
</div>