{{#compare (length @root.data.tasksInfo) 0 ~}}
{{> log_empty}}
{{else}}
<div class="container achievements">
  {{!-- <h1>
    My achievements
  </h1> --}}
  <ul class="step">
    {{#each @root.context.metaData.certificates ~}}
    <li class="step-item{{#compare @root.data.verifyHoursInfo.award hours}} active{{/compare}}">
      <a href="#" class="tooltip" data-tooltip="{{certificate_name}} hours">{{hours}}</a>
    </li>
    {{/each ~}}
  </ul>
  {{#each @root.context.metaData.certificates ~}}
  {{!-- It's already awarded --}}
  {{#compare (sumArray (pluck @root.data.tasksInfo "hours_verified")) ">=" hours ~}}
  {{#unless (compare @root.data.verifyHoursInfo.award ">" hours) ~}}
  <div class="columns">
    <div class="column col-4 col-mx-auto t-margin-full">
      <h2 class="text-center">
        {{#if last}}My{{else}}Current{{/if}} achievement
      </h2>
      <p class="text-center text-primary">
        <strong>{{type_name}}: {{certificate_name}} hours</strong>
      </p>
      {{> badge type=type key=@key hours=hours}}
      <div class="text-center description">
        {{!-- <p>
          {{certificate_name}} hour certificate awarded!
        </p> --}}
        <a href="/certificate" class="btn btn-primary b-margin" download>Download</a>
      </div>
    </div>
  </div>
  {{/unless ~}}
  {{else}}
  {{#compare @root.data.verifyHoursInfo.award "===" hours ~}}
  <div class="columns">
    <div class="column col-4 col-mx-auto t-margin-full">
      {{!-- It's being verified --}}
      <h2 class="text-center">Next achievement</h2>
      <p class="text-center text-primary">
        <strong>{{type_name}}: {{certificate_name}} hours</strong>
      </p>
      {{> badge type=type key=@key hours=hours}}
      <div class="text-center description">
        {{certificate_name}} hour award being verified. If you've been waiting for over a week, you can <a href="/verify-hours-email-send/?award={{hours}}">re-send the verification {{inflect (length @root.data.tasksInfo) "message" "messages"}}</a>.
      </div>
    </div>
  </div>
  {{else}}
  {{!-- A bigger award is being verified --}}
  {{#compare @root.data.verifyHoursInfo.award ">" hours ~}}
  {{!-- It's being verified --}}
  {{!-- {{> badge type=type key=@key hours=hours}}
  <div class="text-center description">
    Larger award being verified.
  </div> --}}
  {{else}}

  {{#compare (sumArray (pluck @root.data.tasksInfo "hours")) ">=" hours ~}}
  <div class="columns working-towards">
    <div class="column col-4 col-mx-auto t-margin-full">
      {{!-- It's ready to claim--}}
      <h2 class="text-center">Next achievement</h2>
      <p class="text-center text-primary">
        <strong>{{type_name}}: {{certificate_name}} hours</strong>
      </p>
      {{> badge type=type key=@key hours=hours}}
      <p class="text-center description">
        {{certificate_name}} hour certificate available! Claiming this certificate will send {{inflect (length @root.data.tasksInfo) "an email" "emails"}} to the {{inflect (length @root.data.tasksInfo) "person" "people"}} managing your volunteering to verify the hours you've logged.
      </p>
      <p class="text-center">
        <a href="/verify-hours-email-send/?award={{hours}}" class="btn">Claim this certificate</a>
      </p>
    </div>
  </div>
  {{else}}
  <div class="columns working-towards">
    <div class="column col-4 col-mx-auto t-margin-full">
      {{!-- It's not there yet --}}
      <h2 class="text-center">Working towards</h2>
      <p class="text-center text-primary">
        <strong>{{type_name}}: {{certificate_name}} hours</strong>
      </p>
      {{> badge type=type key=@key hours=hours disabled=true}}
      <div class="text-center description">
        <strong>{{subtract hours (sumArray (pluck @root.data.tasksInfo "hours"))}} {{inflect (subtract hours (sumArray (pluck @root.data.tasksInfo "hours"))) "hour" "hours"}} to go.</strong><br />
        Once you have reached {{hours}} hours, you can request verification by the nominated {{inflect (length @root.data.tasksInfo) "person" "people"}} at the {{inflect (length @root.data.tasksInfo) "place" "places"}} you volunteer.
      </div>
    </div>
  </div>
  {{/compare ~}}
  {{/compare ~}}
  {{/compare ~}}
  {{/compare ~}}
  {{/each ~}}
</div>
{{/compare ~}}
