{{#compare (length @root.data.tasksInfo) 0 ~}}
{{> log_empty}}
{{else}}
<div class="empty">
  <div class="empty-icon">
    <span class="fal fa-user{{#if @root.data.isAdmin}}s{{else}}-clock{{/if}} fa-3x"></span>
  </div>
  {{#unless @root.data.isAdmin ~}}
  <p class="empty-title h5">You have logged {{sumArray (pluck @root.data.tasksInfo "hours")}} hours so far</p>
  <p class="empty-subtitle"></p>
  {{/unless}}
  <div class="empty-action">
    {{> log_action_buttons}}
  </div>
</div>

<div class="content-break">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#EEF0FA" points="100,0 100,100 0,0"></polygon>
  </svg>
  <div class="container">
    <div class="bg-error s-rounded x-padding b-margin-full hidden" id="active-form-message">
      <span id="form-message"></span>
    </div>

    {{#unless @root.data.isAdmin ~}}
    {{#unless (compare (dateMath 'now-27y') ">" (moment @root.data.accountInfo.date_of_birth "YYYY-MM-DD")) ~}}
    <div id="individual-tasks-input" class="columns cards equal-height">
      {{#each @root.data.tasksInfo ~}}
      <div class="column col-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5">{{organisation_name}}</div>
            {{#if task_description ~}}
            <div class="card-subtitle text-gray">{{truncate task_description 140}}</div>
            {{/if ~}}
          </div>
          <div class="card-body">
            <ul class="fa-ul hours">
              {{#if un_sustainable_development_goals ~}}
              <li>
                <span class="fa-li"><span class="far fa-globe"></span></span>
                <abbr title="Sustainable Development Goal">SDG</abbr>: {{un_sustainable_development_goals}}
              </li>
              {{/if ~}}
              {{#compare hours ">" 0 ~}}
              {{#if hours_verified ~}}
              <li>
                <span class="fa-li"><span class="far fa-user-check"></span></span>
                {{hours_verified}} verified {{inflect hours_verified "hour" "hours"}}<br />
              </li>
              {{/if ~}}
              {{#compare hours ">" hours_verified ~}}
              <li>
                <span class="fa-li"><span class="far fa-user-clock"></span></span>
                {{subtract hours hours_verified}} {{inflect hours "hour" "hours"}} logged but not yet verified<br />
              </li>
              {{/compare ~}}
              {{else}}
              <li>
                <span class="fa-li"><span class="far fa-user"></span></span>
                No hours added yet
              </li>
              {{/compare ~}}
            </ul>
          </div>
          <div class="card-footer">
            <form action="/submit-hours" method="POST" data-component="TasksTrigger" {{#if admin}}data-success-destination="/hours/" data-destination-include-id="true"{{else}}data-success-destination="hours/"{{/if}} data-TasksTrigger="ajax-form-handler">
              <input type="hidden" name="task_id" value="{{task_id}}">
              <label class="form-label" for="hours-{{task_id}}">
                <strong>
                  {{#compare hours ">" 0 ~}}
                  How many hours have you volunteered since the last time you logged hours?
                  {{else}}
                  How many hours have you volunteered since you started?
                  {{/compare ~}}
                </strong>
              </label>
              <div class="input-group">
                <input class="form-input input-lg" id="hours-{{task_id}}" name="hours" type="number" step="any" min="0" value="" placeholder="">
                <button type="submit" class="btn btn-primary btn-lg input-group-btn">Add hours</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {{/each ~}}
    </div>
    {{else}}
    <p>
      You cannot log hours as you are over the age limit.
    </p>
    {{/unless ~}}
    {{else}}

    {{#if @root.request.params.task_id ~}}
    {{#each @root.data.tasksInfo ~}}
    {{#compare task_id @root.request.params.task_id ~}}
    <div class="task task-{{task_id}}">
      <div class="columns">
        <div class="column col-9">
          <h2>
            Volunteering with {{{organisation_name}}}
            {{#compare (length hours_list) ">" 0 ~}}
            <a href="/task-csv/{{task_id}}/{{slugify organisation_name}}-volunteers.csv" class="pull-right btn btn-link" title="Download a CSV file of names, certificate types, and claim codes" download>
              <span class="fas fa-file-csv fa-2x"></span>
            </a>
            {{/compare ~}}
            {{!-- <span class="pull-right" data-collapse-target="#{{this.task_id}}-details">
              <span class="far fa-chevron-up" aria-hidden="false"></span>
            </span> --}}
          </h2>
        </div>
      </div>

      <div id="{{this.task_id}}-details" class="b-margin-full">
        {{#if task_description ~}}
        <div class="columns">
          <div class="column col-9">
            <strong>Description:</strong> {{{task_description}}}
          </div>
        </div>
        {{/if ~}}
        {{#if location ~}}
        <div class="columns">
          <div class="column col-9">
            <strong>Location:</strong> {{{location}}}
          </div>
        </div>
        {{/if ~}}

        <div class="divider v-margin-full"></div>

        {{#compare (length hours_list) ">" 0 ~}}
        <div class="columns">
          <div class="column col-4">
            <strong>Volunteer name</strong>
          </div>
          <div class="column col-2">
            <strong>Certificate</strong>
          </div>
          <div class="column col-2">
            <strong>Claim code</strong>
          </div>
          <div class="column col-1"></div>
          <div class="column col-2">
            <a href="/group-certificate/{{task_id}}" class="btn btn-primary b-margin" download>Download all</a>
          </div>
          <div class="column col-1"></div>
        </div>
        {{#each hours_list ~}}
        {{#ifAny claim_first_name claim_code ~}}
        <form id="{{hours_id}}" method="POST" action="/admin-update-individual-hours" style="position:relative" class="inline-hours-form" data-component="TasksTrigger" data-form-element=">" data-success-message="Hours Updated" data-TasksTrigger="ajax-form-handler">
          <input type="hidden" name="task_id" value="{{task_id}}">
          <input type="hidden" name="verified" value="{{verified}}">
          <input type="hidden" name="claim_code" value="{{claim_code}}">
          <input type="hidden" name="hours_id" value="{{hours_id}}">

          <div class="columns">
            <div class="column col-2">
              <div class="form-group r-margin b-margin">
                <input {{#unless claim_code}}disabled{{/unless}} class="form-input inline-edit" name="claim_first_name" value="{{claim_first_name}}">
              </div>
            </div>
            <div class="column col-2">
              <div class="form-group r-margin b-margin">
                <input {{#unless claim_code}}disabled{{/unless}} class="form-input inline-edit" name="claim_last_name" value="{{claim_last_name}}">
              </div>
            </div>
            <div class="column col-2">
              {{!-- <input {{#unless claim_code}}disabled{{/unless}} class="inline-edit" type="number" step="any" min="0" name="hours" value="{{hours}}"> --}}
              <div class="form-group r-margin b-margin">
                <select class="form-select" {{#unless claim_code}}disabled{{/unless}} required id="hours" name="hours" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.hours}}>
                  {{#each @root.context.metaData.certificates ~}}
                  <option value="{{hours}}"{{#compare hours ../hours}} selected{{/compare}}>{{certificate_name}} hours</option>
                  {{/each ~}}
                </select>
              </div>
            </div>
            <div class="column col-2">
              <code class="claim-code">{{substr claim_code 0 10}}</code>
            </div>
            <div class="column col-1">
              {{#if claim_code}}
              <button type="submit" class="btn btn-primary inline-update-button" style="display:none;">Save</button>
              {{/if}}
            </div>
            <div class="column col-2">
              <a href="/group-certificate/{{task_id}}/{{hours_id}}" class="btn" download>Download</a>
            </div>
            <div class="column col-1">
              {{#if claim_code}}
              <a href="/admin-delete-hours?hours_id={{hours_id}}" class="btn" data-component="TasksTrigger" data-success-hide="true" data-TasksTrigger="ajax-delete-handler">Remove</a>
              {{/if}}
            </div>
          </div>
        </form>
        {{/ifAny ~}}
        {{/each ~}}
        <a href="#" class="btn btn-primary show-group-hours-form">
          Add more participants
        </a>
        {{/compare ~}}

        <form action="/admin-submit-group-hours" id="group-hours-form" method="POST" data-component="TasksTrigger" {{#if @root.data.isAdmin}}data-success-destination="/hours/{{task_id}}/{{slugify organisation_name}}" data-destination-include-id="false"{{else}}data-success-destination="/hours"{{/if}} data-TasksTrigger="ajax-form-handler"{{#compare (length hours_list) '>' 0}} style="display:none;"{{/compare}}>
          <div class="form-horizontal">
            <input type="hidden" name="task_id" value="{{task_id}}">
            <div class="form-group">
              <div class="col-4">
                <label for="task_description" class="form-label">List of volunteer names, one per line</label>
              </div>
              <div class="col-5">
                <textarea rows="6" cols="40" id="volunteers" name="volunteers" class="form-input" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.task_description}}>{{@root.data.taskInfo.task_description}}</textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-4">
                <label for="hours" class="form-label">
                  Certificate to award
                </label>
              </div>
              <div class="col-2">
                <select class="form-select" required id="hours" name="hours" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.hours}}>
                  {{#each @root.context.metaData.certificates ~}}
                  <option value="{{hours}}">{{certificate_name}} hours</option>
                  {{/each ~}}
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-4"></div>
              <div class="col-1">
                <button id="detail-submit" type="submit" class="btn btn-primary b-margin-full" id="group-hours-submit">
                  Submit details
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    {{/compare ~}}
    {{/each ~}}
    {{/if ~}}
    {{/unless ~}}
    {{!-- This will probably have a captcha in it, hence the separation, and weird submit format --}}
  </div>
</div>
{{/compare ~}}

{{!-- <script src="https://#/recaptcha/api.js" async defer></script> --}}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  $('.inline-hours-form :input').on('input',function () {
    var submit = $(this).closest('form').find(':submit').show();
  });

  $('.inline-update-button').click(function(){
    $(this).hide();
  });

  $('.inline-delete-button').click(function(){
    var submit = $(this).closest('form').hide();
  });

  $('.show-group-hours-form').click(function(e){
    e.preventDefault();
    $('#group-hours-form').show();
    $(this).hide();
  });
})

function clearHoursForm(response){
  var data = JSON.parse(response);
  $('#' + data.id).hide();
}

function preSubmit() {
  var form = document.getElementById("user-details-form");
  var isValid = form.checkValidity();
  if (isValid) {
    onSubmit();
  }
}
</script>
