<div class="container">
  <h2>
    {{#if @root.data.isAdmin ~}}
    Group volunteering details
    {{else}}
    My volunteering details
    {{/if ~}}
  </h2>

  <form id="task-details-form" class="active-form" action="/submit-task-details" method="POST" data-component="TasksTrigger" {{#if @root.data.isAdmin}}data-success-destination="/hours/" data-destination-include-id="true"{{else}}data-success-destination="/hours"{{/if}} data-TasksTrigger="ajax-form-handler">
    <input type="hidden" name="task_type" value="{{#if @root.data.isAdmin}}Group Task{{else}}Individual Task{{/if}}">
    <div class="l-margin r-margin">
      <div class="bg-error s-rounded x-padding v-margin" id="active-form-message">
        <span id="form-message"></span>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="column col-3">
          <label for="organisation_name" class="form-label">
            {{#if @root.data.isAdmin ~}}
            Organisation your group has volunteered with
            {{else}}
            Organisation you volunteer for
            {{/if ~}}
          </label>
        </div>
        <div class="column col-5">
          <input id="organisation_name" name="organisation_name" class="form-input" placeholder="e.g. A Charity" value="{{@root.data.taskInfo.organisation_name}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.organisation_name}}>
        </div>
      </div>
      <div class="form-group">
        <div class="column col-3">
          <label for="location" class="form-label">
            Location
          </label>
        </div>
        <div class="column col-5">
          <input required id="location" name="location" class="form-input" placeholder="e.g. Edinburgh" value="{{@root.data.taskInfo.location}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.location}}>
        </div>
      </div>
      <div class="form-group">
        <div class="column col-3">
          <label for="organisation_charity_number" class="form-label r-margin">
            Scottish charity number (optional)
          </label>
        </div>
        <div class="column col-2">
          <div class="input-group">
            {{!-- <span class="input-group-addon">SC</span> --}}
            <input autocomplete="off" id="organisation_charity_number" placeholder="e.g. SC003558" name="organisation_charity_number" class="form-input" value="{{@root.data.taskInfo.organisation_charity_number}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.organisation_charity_number}}>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="column col-3">
          <label for="task_description" class="form-label">Volunteering description (optional)</label>
        </div>
        <div class="column col-5">
          <textarea rows="4" cols="40" id="task_description" name="task_description" class="form-input" value="{{@root.data.taskInfo.task_description}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.task_description}}></textarea>
        </div>
      </div>
    </div>

    <div class="divider v-margin-full"></div>

    <h2>Volunteer manager</h2>

    <div class="form-horizontal">
      <div class="form-group">
        <div class="column col-3">
          <label for="volunteer_manager_first_name" class="form-label">
            Volunteer manager
          </label>
        </div>
        <div class="col-5">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="column col-6">
                <input required id="volunteer_manager_first_name" name="volunteer_manager_first_name" placeholder="First name"
                  {{>form_validation_attributes @root.context.metaData.taskInfoValidation.volunteer_manager_first_name}} class="form-input"
                  {{#if @root.data.isAdmin ~}}
                  value="{{default @root.data.taskInfo.volunteer_manager_first_name @root.data.accountInfo.first_name}}"
                  {{else}}
                  value="{{@root.data.taskInfo.volunteer_manager_first_name}}"
                  {{/if ~}}
                >
              </div>
              <div class="column col-6">
                <input required id="volunteer_manager_last_name" name="volunteer_manager_last_name" placeholder="Last name"
                  {{>form_validation_attributes @root.context.metaData.taskInfoValidation.volunteer_manager_last_name}} class="form-input"
                  {{#if @root.data.isAdmin ~}}
                  value="{{default @root.data.taskInfo.volunteer_manager_last_name @root.data.accountInfo.last_name}}"
                  {{else}}
                  value="{{@root.data.taskInfo.volunteer_manager_last_name}}"
                  {{/if ~}}
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="column col-3">
          <label for="volunteer_manager_title" class="form-label">
            Job title
          </label>
        </div>
        <div class="column col-5">
          <input required id="volunteer_manager_title" name="volunteer_manager_title" placeholder="e.g. Volunteer manager"
            {{>form_validation_attributes @root.context.metaData.taskInfoValidation.volunteer_manager_title}} class="form-input"
            {{#if @root.data.isAdmin ~}}
            value="{{default @root.data.taskInfo.volunteer_manager_title @root.data.accountInfo.title}}"
            {{else}}
            value="{{@root.data.taskInfo.volunteer_manager_title}}"
            {{/if ~}}
          >
        </div>
      </div>
      <div class="form-group">
        <div class="column col-3">
          <label for="volunteer_manager_email" class="form-label">
            Email address
          </label>
        </div>
        <div class="column col-5">
          <input id="volunteer_manager_email" name="volunteer_manager_email" placeholder="e.g. name@charity.org"
            {{>form_validation_attributes @root.context.metaData.taskInfoValidation.volunteer_manager_email}} class="form-input"
            {{#if @root.data.isAdmin ~}}
            value="{{default @root.data.taskInfo.volunteer_manager_email @root.data.accountInfo.email}}"
            {{else}}
            value="{{@root.data.taskInfo.volunteer_manager_email}}" pattern="^((?!{{@root.data.accountInfo.email}}).)*$"
            {{/if ~}}>
        </div>
      </div>
      <div class="form-group">
        <div class="column col-3">
          <label for="volunteer_manager_phone" class="form-label">
            Phone number (optional)
          </label>
        </div>
        <div class="column col-5">
          <input id="volunteer_manager_phone" name="volunteer_manager_phone" placeholder="e.g. 01310001234"
            {{>form_validation_attributes @root.context.metaData.taskInfoValidation.volunteer_manager_phone}} class="form-input"
            {{#if @root.data.isAdmin ~}}
            value="{{default @root.data.taskInfo.volunteer_manager_phone @root.data.accountInfo.phone}}"
            {{else}}
            value="{{@root.data.taskInfo.volunteer_manager_phone}}"
            {{/if ~}}
            >
        </div>
      </div>
      <div class="form-group">
        <div class="column col-3">
          <label for="un_sustainable_development_goals" class="form-label r-margin">
            Which UN Sustainable Development Goal does this task match? (optional)
          </label>
        </div>
        <div class="column col-5">
          <select class="form-select" id="un_sustainable_development_goals" name="un_sustainable_development_goals">
            <option value="" selected></option>
            {{#each @root.context.metaData.globalGoals ~}}
            <option value="{{title}}">{{@key}}: {{title}}</option>
            {{/each ~}}
          </select>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="column col-3"></div>
        <div class="column col-5">
          {{!-- This will probably have a captcha in it, hence the separation, and weird submit format --}}
          <button id="detail-submit" type="submit" class="btn btn-primary b-margin-full">
            Submit details
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $('#task-details-form').on('submit', function(e){
      $('#task-details-form').find('.submit-button').prop('disabled', true);
    });

    var element = document.getElementById("volunteer_manager_email");
      element.oninvalid = function(e) {
        e.target.setCustomValidity("");
        if (!e.target.validity.valid) {
          e.target.setCustomValidity("This must be a valid email, and not your own");
        }
      };
      element.oninput = function(e) {
        e.target.setCustomValidity("");
      };
  });
</script>

