<div class="container">
  <!-- <h1>
    Blog
  </h1> -->
  {{#each @root.data.supplimentaryResponses.posts.hits.hits ~}}
  {{#with _source ~}}
  <div class="b-margin-full">
    <h3>
      <a href="/blog/{{replace post_slug "_" "/"}}">{{{title}}}</a>
    </h3>
    <div class="caption b-margin">
      Posted {{momentFormat (moment publish_on "x") "Do MMM YYYY"}}
    </div>
    <p>
      {{{description_truncated}}} <a href="/blog/{{replace post_slug "_" "/"}}">Read more</a>
    </p>
  </div>
  {{/with ~}}
  {{/each ~}}
  {{> pagination firstLastNavigation=true paging=@root.data.primaryResponse.pagination}}
</div>